OXYLABS_USERNAME=your_username
OXYLABS_PASSWORD=your_password

OPENAI_API_KEY=your_openai_api_key

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=amazon-web-scraper-DB
POSTGRES_USER=amazon-web-scraper-user
POSTGRES_PASSWORD=amazon-web-scraper-password
